In [1]:
ls

create_tables.py  etl.py        README.md       Untitled1.ipynb
dwh.cfg           __pycache__/  sql_queries.py  Untitled.ipynb

In [4]:
!python create_tables.py

query=
        CREATE TABLE IF NOT EXISTS staging_events(
                                artist TEXT,
                                auth TEXT,
                                first_name TEXT,
                                gender CHAR(1),
                                item_session INTEGER,
                                last_name TEXT,
                                length NUMERIC,
                                level TEXT,
                                location TEXT,
                                method TEXT,
                                page TEXT,
                                registration NUMERIC,
                                session_id INTEGER,
                                song TEXT,
                                status INTEGER,
                                ts BIGINT,
                                user_agent TEXT,
                                user_id INTEGER )

query=
        CREATE TABLE IF NOT EXISTS staging_songs (
                num_songs INTEGER,
                artist_id VARCHAR(20),
                artist_latitude DECIMAL(12, 5),
                artist_longitude DECIMAL(12, 5),
                artist_location VARCHAR(500),
                artist_name VARCHAR(500),
                song_id VARCHAR(20),
                title VARCHAR(500),
                duration DECIMAL(15, 5),
                year INTEGER )

query=
        CREATE TABLE IF NOT EXISTS users (
                user_id INTEGER PRIMARY KEY,
                first_name VARCHAR(500) NOT NULL,
                last_name VARCHAR(500) NOT NULL,
                gender CHAR(1),
                level VARCHAR(10) NOT NULL )

query=
        CREATE TABLE IF NOT EXISTS artists (
                artist_id VARCHAR(20) PRIMARY KEY,
                name VARCHAR(500) NOT NULL SORTKEY,
                location VARCHAR(500),
                latitude DECIMAL(12,6),
                longitude DECIMAL(12,6) )

query=
        CREATE TABLE IF NOT EXISTS songs (
        song_id VARCHAR(20) PRIMARY KEY,
        title VARCHAR(500) NOT NULL SORTKEY,
        artist_id VARCHAR NOT NULL DISTKEY REFERENCES artists (artist_id),
        year INTEGER NOT NULL,
        duration DECIMAL (15, 5) NOT NULL )

query=
        CREATE TABLE IF NOT EXISTS songplays (
                songplay_id INTEGER IDENTITY(0,1) SORTKEY,
                start_time TIMESTAMP NOT NULL,
                user_id INTEGER NOT NULL REFERENCES users (user_id),
                level VARCHAR(10),
                song_id VARCHAR(20) REFERENCES songs (song_id),
                artist_id VARCHAR(20) REFERENCES artists (artist_id),
                session_id INTEGER NOT NULL,
                location VARCHAR(500),
                user_agent VARCHAR(500) )

query=
        CREATE TABLE IF NOT EXISTS time (
        start_time TIMESTAMP NOT NULL PRIMARY KEY SORTKEY,
        hour NUMERIC NOT NULL,
        day NUMERIC NOT NULL,
        week NUMERIC NOT NULL,
        month NUMERIC NOT NULL,
        year NUMERIC NOT NULL,
        weekday NUMERIC NOT NULL )

In [2]:
!python etl.py

Executing main
executing load_staging_tables
executing load_staging_tables
executing insert_tables
executing insert_tables
executing insert_tables
executing insert_tables
executing insert_tables